<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/TemplatePAtient/indexPatient.xhtml">


	<ui:define name="content">
		<section class="inner-bg over-layer-black"
			style="background-image: url('../resources/img/bg/5.jpg')">

			<div class="container">
				<div class="row">
					<div class="col-md-4"></div>
				</div>
			</div>
		</section>
		<style type="text/css">
.value {
	font-weight: bold;
}
</style>


		<h:form id="form">
			<p:growl id="msgs" showDetail="true" />

			<h:panelGrid columns="2" cellpadding="5">


				<p:outputLabel for="popup" value="Popup:" />
				<p:calendar id="popup" value="#{calendarView.date2}" />

			</h:panelGrid>

			<p:commandButton value="Submit" update="msgs" action=""
				icon="pi pi-check" />




			<p:panelGrid></p:panelGrid>
			<p:dialog></p:dialog>
		</h:form>


	</ui:define>
</ui:composition>
