<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/TemplatePatient/index.xhtml">


<ui:define name="content">
<section class="inner-bg over-layer-black" style="background-image: url('resources/img/bg/5.jpg')">
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
    </div>
</section>
<section class="depertment-area">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="depertment-col">
                            <div class="depertment-list">
                            <h:link outcome="/TemplatePatient/Chirurgie"
										value="Chirurgie Depertement" class="flaticon-heart" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Radiothérapie Depertement" class="flaticon-heart" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Hématologie Depertement" class="flaticon-broken-bone" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Anesthésiologie Depertement" class="flaticon-stomach-1" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Pédiatrie Depertement" class="flaticon-brain" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Dentaire Depertement" class="flaticon-spine-bone" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Dermatology Depertement" class="flaticon-kidney" />
                            
                              </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <img src="../TemplatePatient/resources/img/depertment/5.jpg"/>
                        <h3 class="margin-top-30"> Anestesie Depertement</h3>
<p>
    La chirurgie est la partie de la thérapeutique qui implique des opérations internes ou des manœuvres externes1 sur les tissus, notamment par incision et suture. Un chirurgien est un professionnel de la santé habilité à pratiquer la chirurgie (médecin spécialiste, chirurgien-dentiste, vétérinaire). Un acte médical pratiqué par un chirurgien est une opération chirurgicale
</p>
                        <div class="col-md-6">
                        </div><div class="col-md-6">
                                  <a href="" class="btn btn-simple">voir docteurs</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</ui:define>
</ui:composition>
