<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/TemplatePatient/index.xhtml">


<ui:define name="content">
<section class="inner-bg over-layer-black" style="background-image: url('../resources/img/bg/5.jpg')">
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
    </div>
</section>
<section class="depertment-area">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="depertment-col">
                            <div class="depertment-list">
                            
                            <h:link outcome="/TemplatePatient/Chirurgie"
										value="Chirurgie Depertement" class="flaticon-heart" />
									<h:link outcome="/TemplatePatient/Radio"
										value="Radiothérapie Depertement" class="flaticon-heart" />
									<h:link outcome="/TemplatePatient/Hematologie"
										value="Hématologie Depertement" class="flaticon-broken-bone" />
									<h:link outcome="/TemplatePatient/Anestesie"
										value="Anesthésiologie Depertement" class="flaticon-stomach-1" />
									<h:link outcome="/TemplatePatient/Anestesie"
										value="Pédiatrie Depertement" class="flaticon-brain" />
									<h:link outcome="/TemplatePatient/Pediatre"
										value="Dentaire Depertement" class="flaticon-spine-bone" />
									<h:link outcome="/TemplatePatient/Dentaire"
										value="Dermatology Depertement" class="flaticon-kidney" />
                            
                             </div>
                        </div>
                    </div>
                    <div class="col-md-8">

                        <img src="../resources/img/depertment/5.jpg"/>
                        <h3 class="margin-top-30"> Anesthésiologie Depertement</h3>
<p>
 L'anesthésie-réanimation est la branche de la médecine qui se consacre à :

    l'anesthésie (ou anesthésiologie au Canada) : 
    <br>
    </br>
                     prise en charge péri-opératoire (avant, pendant et après l'opération chirurgicale) des patients. <br>
                     </br>
                    Cette prise en charge globale repose sur une évaluation pré-opératoire.<br>
                     </br>
                    Lors de l'intervention, l'anesthésiste va prévenir la douleur par l'utilisation d'antalgiques, éventuellement sédater le malade (pour éviter toute mémorisation) à l'aide d'hypnotiques et dans certains cas relâcher l'ensemble de ses muscles à l'aide de curares. Il s'agit alors d'une anesthésie générale. Tout cela n'est possible que sous un contrôle continu des grandes fonctions vitales.
    la réanimation : <br>
                     </br>
                    prise en charge des patients présentant ou susceptibles de présenter une ou plusieurs défaillances viscérales aiguës mettant directement en jeu le pronostic vital.
    Le médecin spécialisé dans cette discipline a la qualification de médecin anesthésiste-réanimateur.   </p>
                        <div class="col-md-6">
                        </div><div class="col-md-6">
                                  <a href="" class="btn btn-simple">voir docteurs</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</ui:define>
</ui:composition>
