<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	
	template="/TemplatePatient/indexPatient.xhtml">


<ui:define name="content">
<section class="inner-bg over-layer-black" style="background-image: url('../resources/img/bg/5.jpg')">
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
    </div>
</section>
     
        <div class="col-md-6">
       <br>
       </br>
       <br>
       </br>
        
        <div class="shop-list-single shop-product-item-area">
            <div class="shop-list-left-content">
                
                <span class="shop-cart-icon">
                    <a href="#"><i class="fa fa-shopping-bag"></i></a>
                </span>
            </div>
          
            <div class="shop-list-right-content">
                <div class="product-content">
                    <h1><a href="#"> 
                        Merci de confirmer votre rendez vous </a></h1>
                    
                </div>
               
            </div>
        </div>
        <div class="col-md-6">
            <a href="" class="btn btn-simple">Confirmer Rendez_vous</a>
          </div>
        <br />
        <div class="col-md-6">

            <a href="" class="btn btn-danger">Annuler Rendez_vous</a>
        </div>

        </div>
    <div class="col-md-6">
       <br>
       </br>
       <br>
       </br>
		<img src="../resources/img/bg/1.jpg"/>
    </div>


</ui:define>
</ui:composition>