<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/TemplatePatient/index.xhtml">


	<ui:define name="content">
		<section class="inner-bg over-layer-black"
			style="background-image: url('/TemplatePatient//resources/img/bg/5.jpg')">

			<div class="container">
				<div class="row">
					<div class="col-md-4"></div>
				</div>
			</div>
		</section>
		<section class="depertment-area">
			<div class="container">
				<div class="section-content">
					<div class="row">
						<div class="col-md-4">
							<div class="depertment-col">
								<div class="depertment-list">
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Chirurgie Depertement" class="flaticon-heart" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Radiothérapie Depertement" class="flaticon-heart" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Hématologie Depertement" class="flaticon-broken-bone" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Anesthésiologie Depertement" class="flaticon-stomach-1" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Pédiatrie Depertement" class="flaticon-brain" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Dentaire Depertement" class="flaticon-spine-bone" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Dermatology Depertement" class="flaticon-kidney" />

								</div>
							</div>
						</div>
						<div class="col-md-8">

							<img src="/TemplatePatient/resources/img/depertment/5.jpg" alt="" />
							<h3 class="margin-top-30">Dentaire Depertment</h3>
							<p>
								L’odontologie est la spécialité médicale et chirurgicale
								couvrant l'étude de l'organe dentaire (émail, dentine, pulpe
								dentaire), des maxillaires (os maxillaire, os mandibulaire) et
								des tissus attenants. <br> </br> Les tissus attenants aux sièges
								anatomiques dentaires et maxillaires intégrés au domaine de
								l'odontologie occupent l'intégralité de la cavité orale et
								plusieurs loges anatomiques adjacentes. <br> </br> On distingue
								notamment le parodonte (cément, gencive, os alvéolaire, ligament
								alvéolo-dentaire, espace desmodontale), la muqueuse buccale
								(muqueuse alvéolaire, jugale, vestibulaire, palatine, linguale),
								les glandes salivaires (glandes parotides, submandibulaires,
								sublinguales et accessoires), la langue et les articulations
								temporo-mandibulaires. <br> </br> La pratique de l'odontologie
								comporte la prévention, le diagnostic et le traitement des
								pathologies congénitales ou acquises, réelles ou supposées de
								l'ensemble de ces structures anatomiques oro-faciales3. <br>
								</br> Cette spécialité medico-chirurgicale est exercée par les
								praticiens de l'art dentaire, nommés chirurgiens-dentistes ou
								médecins-dentistes, l'appellation variant suivant les pays3,4.
								Les médecins stomatologistes peuvent également exercer
								l'odontologie dans le cadre de leur exercice professionnel



							</p>
							<div class="col-md-6"></div>
							<div class="col-md-6">
								<a href="" class="btn btn-simple">voir docteurs</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>




	</ui:define>
</ui:composition>
