<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	
	template="/TemplatePatient/indexPatient.xhtml">


<ui:define name="content">
<section class="inner-bg over-layer-black" style="background-image: url('../resources/img/bg/5.jpg')">
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
    </div>
</section>
     
        
<br />
<br />
<div align="center">
    <h3> Trouver votre docteur </h3>
</div>


       


</ui:define>
</ui:composition>
