<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">


<h:head>


	<meta charset="utf-8" content=""></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<meta name="description" content=""></meta>
	<meta name="author" content=""></meta>

	<title>Epione</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="resources/css/bootstrap.min.css" />

	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="resources/css/style.css" />

	<!-- Responsive stylesheet  -->
	<link href="resources/css/responsive.css" rel="stylesheet" />
	<!-- Favicon -->
	<link href="resources/img/Image1.png" rel="shortcut icon"
		type="image/png" />



</h:head>
<body>







	<div class="main-navbar no-bg position-fixed header-color">

		<div class="container padding-none">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="" class="button" aria-haspopup="true"
					aria-expanded="false"> <span data-hover="chez un docteur">Vous
							étes un patient ?</span>


				</a></li>
				<li><a href="" class="button" aria-haspopup="true"
					aria-expanded="false"> <span data-hover="chez un docteur">Vous
							étes un docteur ?</span>
				</a></li>
				<li><a href="" class="button" aria-haspopup="true"
					aria-expanded="false"> <span data-hover="chez un docteur">
							Se connecter </span>
				</a></li>
			</ul>


			<div class="row">

				<div class="col-md-12">
					<nav class="navbar navbar-default style-1">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>


					</div>
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1" data-hover="dropdown"
						data-animations="fadeInUp">
						<div>
							<a class="navbar-brand dis-block" href=""> <img
								src="resources/img/Image2.png" alt="" height="42" width="55" />

							</a>
						</div>
						<ul class="nav navbar-nav navbar-right">




							<li class="dropdown"><a href="#"
								class="dropdown-toggle flip-animate" data-toggle="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false"><span
									data-hover="Departement">Departement <i
										class="fa fa-angle-down" aria-hidden="true"></i></span></a>
								<ul class="dropdown-menu">



									<li><a href="">Chirurgie Departement</a></li>
									<li><a href="">Radiothérapie Departement</a></li>
									<li><a href="">Hématologie Departement</a></li>
									<li><a href="">Anesthésiologie Dapartement</a></li>
									<li><a href="">Pédiatrie Departement</a></li>
									<li><a href="">Dentaire Departement</a></li>
									<li><a href="">Dermatology Departement</a></li>

								</ul></li>
							<li><a href="" class="button" aria-haspopup="true"
								aria-expanded="false"> <span data-hover="chez un docteur">Prendre
										un rendez vous </span></a></li>






						</ul>
					</div>
					</nav>
				</div>
			</div>
		</div>
	</div>



	<!-- Header navbar end -->
	<!-- Start  bootstrap-touch-slider Slider -->
	<div>


		<ui:insert name="content">



		</ui:insert>


	</div>


	<footer class="bg-faded">
	<div class="container">
		<div class="section-content">
			<div class="row"></div>

			<div class="row">
				<div class="col-12 text-center">
					<hr>
						<hr>
							<ul class="social-icon bg-transparent bordered-theme">
								<li><a href="#"><i class="fa fa-twitter"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa fa-skype"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"
										aria-hidden="true"></i></a></li>
							</ul>
						</hr>
					</hr>
				</div>
			</div>
		</div>
	</div>
	</footer>
	<section class="footer-copy-right bg-defult text-white">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<p>
					Created By BiTechnologie <a href="#"> at Esprit</a>
				</p>
			</div>
		</div>
	</div>
	</section>


	<a href="#" class="scrollup"><i class="pe-7s-drop"
		aria-hidden="true"></i></a>
	<!-- jQuery -->
	<script src="resources/Scripts/jquery.min.js" type=""></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="resources/Scripts/bootstrap.min.js" type=""></script>
	<!-- all plugins and JavaScript -->
	<script src="resources/Scripts/bootstrap-datepicker.min.js" type=""></script>
	<script src="resources/Scripts/css3-animate-it.js" type=""></script>
	<script src="resources/Scripts/bootstrap-dropdownhover.min.js" type=""></script>
	<script src="resources/Scripts/owl.carousel.min.js" type=""></script>
	<script src="resources/Scripts/gallery.js" type=""></script>
	<script src="resources/Scripts/player.min.js" type=""></script>
	<script src="resources/Scripts/comming-soon.js" type=""></script>
	<script type="text/javascript">    
    PrimeFaces.locales['de'] = {
        closeText: 'Schließen',
        prevText: 'Zurück',
        nextText: 'Weiter',
        monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
        monthNamesShort: ['Jan', 'Feb', 'März', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
        dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
        dayNamesShort: ['Son', 'Mon', 'Die', 'Mit', 'Don', 'Fre', 'Sam'],
        dayNamesMin: ['S', 'M', 'D', 'M ', 'D', 'F ', 'S'],
        weekHeader: 'Woche',
        FirstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: '',
        timeOnlyTitle: 'Nur Zeit',
        timeText: 'Zeit',
        hourText: 'Stunde',
        minuteText: 'Minute',
        secondText: 'Sekunde',
        currentText: 'Aktuelles Datum',
        ampm: false,
        month: 'Monat',
        week: 'Woche',
        day: 'Tag',
        allDayText: 'Ganzer Tag'
    };
</script>

	<style type="text/css">
.value {
	font-weight: bold;
}
</style>

	<!-- Main Custom JS -->
	<script src="resources/Scripts/script.js" type=""></script>





</body>
</html>
