<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/TemplatePatient/index.xhtml">


<ui:define name="content">
<section class="inner-bg over-layer-black" style="background-image: url('../resources/img/bg/5.jpg')">
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
        </div>
    </div>
</section>
<section class="depertment-area">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="depertment-col">
                            <div class="depertment-list">
                            <h:link outcome="/TemplatePatient/Chirurgie"
										value="Chirurgie Depertement" class="flaticon-heart" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Radiothérapie Depertement" class="flaticon-heart" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Hématologie Depertement" class="flaticon-broken-bone" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Anesthésiologie Depertement" class="flaticon-stomach-1" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Pédiatrie Depertement" class="flaticon-brain" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Dentaire Depertement" class="flaticon-spine-bone" />
									<h:link outcome="/TemplatePatient/Chirurgie"
										value="Dermatology Depertement" class="flaticon-kidney" />
                            
                            
                            
                             </div>
                        </div>
                    </div>
                    <div class="col-md-8">

                        <img src="../resources/img/depertment/5.jpg"/>
                        <h3 class="margin-top-30"> Radiothérapie Depertement</h3>
<p>
    La radiothérapie est une méthode de traitement locorégional des cancers, utilisant des radiations pour détruire les cellules cancéreuses en bloquant leur capacité à se multiplier. L'irradiation a pour but de détruire toutes les cellules tumorales tout en épargnant les tissus sains périphériques.

    La radiothérapie est utilisée chez plus de la moitié des patients ayant un cancer. Elle est, avec la chirurgie, le traitement le plus fréquent des cancers et peut entraîner une rémission nette à elle seule. Elle peut être utilisée seule ou associée à la chirurgie et à la chimiothérapie. Ses indications sont liées au type de la tumeur, à sa localisation, à son stade et à l'état général du patient. Elle peut être faite en ambulatoire, c’est-à-dire sans hospitalisation, car les séances sont de courte durée et les effets secondaires moindres que lors d'une chimiothérapie, hormis chez certains patients victimes d'une hypersensibilité individuelle aux rayonnements ionisants, hypersensibilité qui devrait bientôt pouvoir être diagnostiquée par des « tests de dépistage d'effets indésirables potentiels de la radiothérapie ». Des tests sont également attendus pour diagnostiquer une plus grande susceptibilité que la moyenne aux cancers radio-induits
</p>
                        <div class="col-md-6">
                        </div><div class="col-md-6">
                                  <a href="" class="btn btn-simple">voir docteurs</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</ui:define>
</ui:composition>
